  <!-- hero section -->
  <div class="hero-section">
    <div class="hero-info">
      <h1>
        This is title of the product
      </h1>
      <p>
        This is gonna be description of the product and this product is the best selling product of the website. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum officia, ab provident, cumque ipsa odit voluptatem dolores nostrum unde, quia nihil sint possimus incidunt porro animi. Quas qui facere voluptas.
      </p>
      <button class="btn btn-dark btn-lg">
        buy now
      </button>
    </div>
    <div class="hero-image">
      <img src="https://m.media-amazon.com/images/I/81dqJbobLpL._AC_SL1500_.jpg" alt="">
    </div>
  </div>