
        <!-- mini card section -->

        <div class="mini-card-section">
            <div class="mini-card">
                <img src="/images/mart.png" alt="">
                Martdwd
            </div>
            <div class="mini-card">
                <img src="/images/fashion.png" alt="">
                Fashion
            </div>
            <div class="mini-card">
                <img src="/images/beauty.png" alt="">
                Beauty
            </div>
            <div class="mini-card">
                <img src="/images/home&decor.png" alt="">
                Home & Decor
            </div>
            <div class="mini-card">
                <img src="/images/darazLikeNew.png" alt="">
                Daraz Like New
            </div>
            <div class="mini-card">
                <img src="/images/freeDelivery.png" alt="">
                Free Delivery
            </div>
            <div class="mini-card">
                <img src="/images/EveryDayLowPrice.png" alt="">
                Everyday Low Price
            </div>
            <div class="mini-card">
                <img src="/images/NewOnDaraz.png" alt="">
                New on Daraz
            </div>
            <div class="mini-card">
                <img src="/images/FlashSale.png" alt="">
                Flash Sale
            </div>
        </div>